@use '../../variables.scss' as vars;

.container {
  flex: 1;
  background-color: vars.$main-teal;
  color: white;
  border: 1px solid vars.$main-blue;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.container:hover {
  cursor: pointer;
  background-color: vars.$main-blue;
  border-color: black;
}
