@use '../../variables.scss' as vars;

.container {
  position: fixed;
  display: flex;
  height: 75px;
}

.box {
  border: 5px solid green;
  width: 75px;
}

.buttons {
  @include vars.flex-column;
}

.button {
  flex: 1;
}
