@use '../../variables.scss' as vars;

.container {
  position: absolute;
  display: flex;
  height: 75px;
}

.box {
  border: 5px solid vars.$main-red;
  width: 75px;
}

.buttons {
  @include vars.flex-column;
  background-color: vars.$main-blue;
  border: 2px solid vars.$main-blue;
  gap: 3px;
}
