@use '../../variables.scss' as vars;

.container {
  @include vars.flex-column;
  align-items: center;
  justify-content: center;
}

.img {
  width: 1000px;
  height: auto;
}

.text {
  font-size: 2rem;
}
