@use '../../variables.scss' as vars;

.container {
  @include vars.flex-column;
  align-items: center;
  gap: 50px;
}

.title {
  font-size: 2rem;
}

.subtitle {
  font-size: 1.2rem;
}

.imageContainer {
  border: 1px solid black;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  @include vars.flex-column;
}

.image {
  width: 200px;
  height: 400px;
}

.characterText {
  padding: 10px;
  color: vars.$main-red;
  background-color: white;
  border-top: 1px solid black;
  font-size: 1.3rem;
  text-align: center;
}

.characters {
  display: flex;
  gap: 100px;
}
