// Colors
$main-brown: #e5ddc8;
$main-teal: #01949a;
$main-blue: #004369;
$main-red: #db1f48;

// Helper classes
@mixin flex-column {
  display: flex;
  flex-direction: column;
}

// Media queries
@mixin desktop {
  @media only screen and (min-width: 992px) {
    @content;
  }
}
